In [1]:
import requests
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
asia_data = pd.read_csv('./data/visitor_kor/asia_data_kor.csv')

In [3]:
# 10년치 아시아 국가들의 누적수 모아서 내림차순으로 정리
def get_cum_data(data) :  
    cum = data.iloc[-11:-1, 4::2]
    cum = cum.fillna(0).astype('int')
    total = cum.sum(axis=0)
    
    return total

total_asia = get_cum_data(asia_data)

total_asia = total_asia.sort_values(ascending=False)
total_asia

일본_명수       36087499
중국_명수       29750589
베트남_명수      16061089
태국_명수       11465554
필리핀_명수      11150761
홍콩_명수        8970767
대만_명수        5972198
마카오_명수       4721522
싱가폴_명수       4373176
말레이시아_명수     3569529
인도네시아_명수     2727022
캄보디아_명수      2639210
튀르키예_명수      1404237
라오스_명수       1104849
인도_명수         921554
미얀마_명수        519290
몽골_명수         516592
몰디브_명수        282755
이스라엘_명수       277521
네팔_명수         176368
요르단_명수        112227
스리랑카_명수       103149
부탄_명수          11725
예멘_명수            356
사이프러스_명수         282
dtype: int64

In [4]:
# 상위 25% 국가
quarterVal = round(len(total_asia) / 4)
top25 = total_asia[:quarterVal]

top25.to_csv('./data/asia_top25.csv', encoding='utf-8-sig')
total_asia.to_csv('./data/asia_cum.csv', encoding='utf-8-sig')