In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import requests
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from utils import Utils

ut = Utils()

In [3]:
asia_data = pd.read_csv('../data/visitor_kor/asia_data_kor.csv')
europe_data = pd.read_csv('../data/visitor_kor/europe_data_kor.csv')
africa_data = pd.read_csv('../data/visitor_kor/africa_data_kor.csv')
america_data = pd.read_csv('../data/visitor_kor/america_data_kor.csv')
oceania_data = pd.read_csv('../data/visitor_kor/oceania_data_kor.csv')

In [4]:
# 10년치 각 나라의 누적수 모아서 내림차순으로 정리
total_asia = ut.get_cum_data(asia_data)
total_europe = ut.get_cum_data(europe_data)
total_africa = ut.get_cum_data(africa_data)
total_america = ut.get_cum_data(america_data)
total_oceania = ut.get_cum_data(oceania_data)

total_overall = pd.concat([total_asia, total_europe, total_africa, total_america, total_oceania])
total_overall = total_overall.sort_values(ascending=False)
total_overall

일본_명수        36087499
중국_명수        29750589
베트남_명수       16061089
미국_명수        15450042
태국_명수        11465554
               ...
리히텐슈타인_명수         978
시에라리온_명수          791
예멘_명수             356
사이프러스_명수          282
산마리노_명수            11
Length: 65, dtype: int64

In [5]:
quarterVal = round(len(total_overall) / 4)
top25 = total_overall[:quarterVal]
low25 = total_overall[-(quarterVal+1):-1]

top25.to_csv('./data/top25.csv', encoding='utf-8-sig')
low25.to_csv('./data/low25.csv', encoding='utf-8-sig')