In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import json
import pandas as pd
import numpy as np
from urllib import parse
import requests
from youtubeApi import YoutubeApi
from utils import Utils

email = 'kjmkjk097@gmail.com'
yt = YoutubeApi()
ut = Utils()

In [3]:
# search query
searchQuery = '백종원 홍콩 1'
data = yt.getDictBySearchQuery(searchQuery, 1)
data

{'kind': 'youtube#searchListResponse',
 'etag': 'AC_DRYwLJ5vssDNsXvR8klwcuBI',
 'nextPageToken': 'CAEQAA',
 'regionCode': 'KR',
 'pageInfo': {'totalResults': 1000000, 'resultsPerPage': 1},
 'items': [{'kind': 'youtube#searchResult',
   'etag': 'Buqq0v_o1gtxlyb3ADOV1QrEgl4',
   'id': {'kind': 'youtube#video', 'videoId': '29MMeii6ifo'},
   'snippet': {'publishedAt': '2023-03-30T08:00:01Z',
    'channelId': 'UCyn-K7rZLXjGl7VXGweIlcA',
    'title': '[배고파_홍콩_EP.01] 산속으로 딤섬 먹으러 갔습니다',
    'description': '백종원 #배고파홍콩 #홍콩 #딤섬 #카트국수 새소리 들으면서 산에서 먹는 홍콩 딤섬! 들어보셨어요? 긴말 필요 없이 바로 보여 ...',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/29MMeii6ifo/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/29MMeii6ifo/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/29MMeii6ifo/hqdefault.jpg',
      'width': 480,
      'height': 360}},
    'channelTitle': '백종원 PAIK JONG WON',
    'liveBroadcastContent': 'none',
    'publishTime': '2023-03-30T08:00:01Z'}}]}

In [4]:
# 채널의 대만 영상 정보 가져오기
channelId = data['items'][0]['snippet']['channelId']
videoId = data['items'][0]['id']['videoId']

data2 = yt.getDictByVideoId(videoId)
data2

{'viewCount': '2261801',
 'likeCount': '32707',
 'favoriteCount': '0',
 'commentCount': '1552'}

In [5]:
df = ut.make_df(data)
df2 = ut.makeDataFromStatistics(data2)

In [6]:
df

,publishedAt,channelId,title,description,thumbnails,channelTitle,liveBroadcastContent,publishTime,videoId
0,2023-03-30T08:00:01Z,UCyn-K7rZLXjGl7VXGweIlcA,[배고파_홍콩_EP.01] 산속으로 딤섬 먹으러 갔습니다,백종원 #배고파홍콩 #홍콩 #딤섬 #카트국수 새소리 들으면서 산에서 먹는 홍콩 딤섬...,{'default': {'url': 'https://i.ytimg.com/vi/29...,백종원 PAIK JONG WON,none,2023-03-30T08:00:01Z,29MMeii6ifo

In [7]:
df2

  viewCount likeCount favoriteCount commentCount
0   2261801     32707             0         1552

In [8]:
final_data = pd.concat([df, df2], axis=1)

In [9]:
final_data['country'] = '홍콩'

In [10]:
# column 드롭 및 재 정렬
final_data = ut.dropAndReorganizeColumns(final_data)

In [11]:
final_data

,videoId,title,description,viewCount,likeCount,favoriteCount,commentCount,publishedAt,channelId,channelTitle,country
0,29MMeii6ifo,[배고파_홍콩_EP.01] 산속으로 딤섬 먹으러 갔습니다,백종원 #배고파홍콩 #홍콩 #딤섬 #카트국수 새소리 들으면서 산에서 먹는 홍콩 딤섬...,2261801,32707,0,1552,2023-03-30T08:00:01Z,UCyn-K7rZLXjGl7VXGweIlcA,백종원 PAIK JONG WON,홍콩

In [12]:
# 최종 데이터 프레임 csv에 저장
final_data.to_csv('./data/hongkong_youtube.csv', encoding='utf-8-sig', index=False)